/* .navbar {
    background: #0F172A;
    padding: 15px 0;
}

.navbar-brand {
    color: #F97316 !important;
    font-size: 30px;
    font-weight: bold;
}

.nav-link {
    color: white !important;
    margin-left: 20px;
}

.nav-link:hover {
    color: #F97316 !important;
}

.navbar-toggler {
    border: none;
} */