body {
    margin: 0;
    padding: 0;
    background-color: #0066ff;
}

/* .product-card{
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
   
} */
.product-card{
    background-color: #0F172A;
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.price{
    color: #F97316;
}
.product-card:hover{
    transform: translateY(-10px);
}

.product-card img{
    height: 220px;
    object-fit: cover;
}

.price{
    color: #F97316;
    font-weight: bold;
}
